<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

    <!--ICONS-->
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "img/favicon/apple-touch-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "img/favicon/apple-touch-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "img/favicon/apple-touch-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "img/favicon/apple-touch-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "img/favicon/apple-touch-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "img/favicon/apple-touch-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "img/favicon/apple-touch-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "img/favicon/apple-touch-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "img/favicon/apple-touch-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static "img/favicon/favicon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="160x160" href="{% static "img/favicon/favicon-160x160.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "img/favicon/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "img/favicon/favicon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "img/favicon/favicon-32x32.png" %}">

    {% ifinstalled mezzanine.blog %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    {% compress css %}
        <!--Vendor CSS-->
        <link rel="stylesheet" href="{% static "css/vendor/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
        <link rel="stylesheet" href="{% static "css/vendor/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" href="{% static "css/vendor/html5-boilerplate.css" %}">
        <link rel="stylesheet" href="{% static "css/vendor/normalize.css" %}">
        <link rel="stylesheet" href="{% static "css/vendor/font-awesome.min.css" %}">
        <!--LANtasy CSS-->
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        <link rel="stylesheet" href="{% static "css/color.css" %}">
        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
        {% endif %}
        {% ifinstalled cartridge.shop %}
            <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
            {% if LANGUAGE_BIDI %}
                <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
            {% endif %}
        {% endifinstalled %}
        {% block extra_css %}{% endblock %}
    {% endcompress %}

    {% compress js %}
        <!--<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>-->
        <script src="{% static "js/vendor/jquery-1.11.3.min.js" %}"></script>
        <script src="{% static "js/vendor/bootstrap-3.3.5.min.js" %}"></script>
        <script src="{% static "js/bootstrap-extras.js" %}"></script>
    {% block extra_js %}{% endblock %}
    {% endcompress %}

    <!--[if lt IE 9]>
    <script src="{% static "js/html5shiv.js" %}"></script>
    <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->

    {% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">
    <header>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">{% trans "Toggle Navigation" %}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="{% static "img/logo/logo-2016-white.png" %}"></a>
                </div>
                <div class="navbar-collapse collapse">
                    {% page_menu "pages/menus/dropdown.html" %}
                </div>
            </div>
        </div>
    </header>


<div class="container">

{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}

<h1>{% block title %}{% endblock %}</h1>

<ul class="breadcrumb">
{% spaceless %}
{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
{% endspaceless %}
</ul>

</div>

<div class="container">
<div class="row">

<div class="col-md-2 left">
    {% block left_panel %}
    <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
    {% endblock %}
</div>

<div class="col-md-7 middle">
    {% block main %}{% endblock %}
</div>

<div class="col-md-3 right">
    {% nevercache %}
    {% include "includes/language_selector.html" %}
    {% include "includes/user_panel.html" %}
    {% endnevercache %}
    <div class="panel panel-default">
    <div class="panel-body">
    {% block right_panel %}
    {% ifinstalled mezzanine.twitter %}
    {% include "twitter/tweets.html" %}
    {% endifinstalled %}
    {% endblock %}
    </div>
    </div>
</div>

</div>
</div>

<footer>
    <div class="container">
        {% page_menu "pages/menus/footer.html" %}

        <div class="row">
            <div class="col-md-6 col-sm-6 copyrights-left">
                &copy; 2015 LANtasy Gaming Society. All Rights Reserved.
            </div>
            <div class="col-md-6 col-sm-6 copyrights-right">
                <ul class="social-icons pull-right">
                    <li><a href="httpS://www.facebook.com/lantasy" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/LANtasyCOM" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://plus.google.com/+LantasyCOM" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>


    </div>
</footer>

{% include "includes/footer_scripts.html" %}

</body>
</html>
