{% extends "base.html" %}
{% load i18n staticfiles %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/vendor/flexslider.css" %}">
{% endblock %}
{% block extra_js %}
    <script src="{% static "js/vendor/jquery.flexslider-min.js" %}"></script>

    <script type="text/javascript" charset="utf-8">
        $(window).load(function(){
            $('.flexslider').flexslider();
        });
    </script>
{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Home" %}</li>
{% endblock %}
{% block body %}
    <div class="flexslider">
      <ul class="slides">
          <li>
            <img src='{% static 'img/flexslider/img1.jpg' %}' />
          </li>
          <li>
            <img src='{% static 'img/flexslider/img2.jpg' %}' />
          </li>
          <li>
            <img src='{% static 'img/flexslider/img3.jpg' %}' />
          </li>
          <li>
            <img src='{% static 'img/flexslider/img4.jpg' %}' />
          </li>
      </ul>
    </div>


    <!--
    <div id="slider">
        <figure>
            <img src="http://demosthenes.info/assets/images/austin-fireworks.jpg" alt="">
            <img src="http://demosthenes.info/assets/images/taj-mahal.jpg" alt="">
            <img src="http://demosthenes.info/assets/images/ibiza.jpg" alt="">
            <img src="http://demosthenes.info/assets/images/ankor-wat.jpg" alt="">
            <img src="http://demosthenes.info/assets/images/austin-fireworks.jpg" alt="">
        </figure>
    </div>
    -->
{% endblock %}

{% block main %}


{% blocktrans %}


<h2>Congratulations!</h2>
<p>
    Welcome to your new Mezzanine powered website.
    Here are some quick links to get you started:
</p>
<ul>
    <li><a href="/admin/">Log in to the admin interface</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/content-architecture.html">Creating custom page types</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html#templates">Modifying HTML templates</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html#why-isn-t-the-homepage-a-page-object-i-can-edit-via-the-admin">Changing this homepage</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html">Other frequently asked questions</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/configuration.html#default-settings">Full list of settings</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/deployment.html">Deploying to a production server</a></li>
</ul>
{% endblocktrans %}
{% endblock %}
