{% if navbar_conventions.count > 0 %}
<li class="dropdown active" id="events">
    <a href="#" class="dropdown-toggle disabled" data-toggle="dropdown">
        Events
        <b class="caret"></b>
    </a>

    <ul class="dropdown-menu">
    {% for convention in navbar_conventions %}
        <li class="{% if convention.has_events %}dropdown-submenu{% endif %}" id="{{ convention.slug }}">
            <a href="#">{{ convention.name }}</a>
            {% if convention.has_events %}
            <ul class="dropdown-menu">
            {% for event in convention.get_events %}
                {% ifchanged event.event_type %}
                    {% if forloop.first %}
                        <li class="dropdown-submenu" id="{{ event.event_type.slug }}">
                            <a href="#">{{ event.event_type.name }}</a>
                            <ul class="dropdown-menu">
                    {% else %}
                            </ul>
                        </li>
                        <li class="dropdown-submenu" id="{{ event.event_type.slug }}">
                            <a href="#">{{ event.event_type.name }}</a>
                            <ul class="dropdown-menu">
                    {% endif %}
                {% endifchanged %}
                                <li id="{{ event.slug }}">
                                    <a href="#">{{ event.name }}</a>
                                </li>
            {% endfor %}
                            </ul>
                        </li>
            </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</li>
{% endif %}

{#{% if navbar_events.conventions.count > 0 %}#}
{#    <li class="dropdown active" id="events">#}
{#        <a href="#" class="dropdown-toggle disabled" data-toggle="dropdown">#}
{#            Events#}
{#            <b class="caret"></b>#}
{#        </a>#}
{#    </li>#}
{#{% endif %}#}