{% load cache %}
{% cache 500 event_bar %}
{% if navbar_convention %}
<li class="dropdown active" id="events">
    <a href="{% url "eventbro:convention_detail" slug=navbar_convention.slug %}" class="dropdown-toggle disabled" data-toggle="dropdown">
        Events
        {% if navbar_events %}<b class="caret"></b>{% endif %}
    </a>

    <ul class="dropdown-menu">
        <li id="register">
            <a href="{% url "eventbro:register_redirect" %}">
                <strong>Register for Events</strong>
            </a>
        </li>
        {% if navbar_events.count > 0 %}
            <li class="divider"></li>
            {% for event in navbar_events %}
                {% ifchanged event.event_type.slug %}
                    {% if not forloop.first %}
                            </ul>
                        </li>
                    {% endif %}
                        <li class="dropdown-submenu" id="{{ event.event_type.slug }}">
                            <a href="#">{{ event.event_type.name }}</a>
                            <ul class="dropdown-menu">
                {% endifchanged %}
                {% if not forloop.first %}
                    {% ifchanged event.showcase %}
                        {% if event.showcase == False %}
                            <li class="divider"></li>
                        {% endif %}
                    {% endifchanged event.showcase%}
                {% endif %}
                <li id="{{ event.slug }}">
                    <a href="{% url "eventbro:event_detail" slug=event.slug %}">
                        {{ event.name }}
                    </a>
                </li>

                {% if forloop.last %}
                    </ul>
                </li>
            </ul>
                {% endif %}
            {% endfor %}

        {% endif %}

    </ul>
</li>
{% endif %}
{% endcache event_bar %}