<li class="dropdown active" id="profile">
    {% if user.is_authenticated %}
        <a href="{% url "userbro:user_detail" %}" class="dropdown-toggle disabled" data-toggle="dropdown">
            Profile
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li class="dropdown" id="profile">
                <a href="{% url "logout" %}">Log out</a>
            </li>
        </ul>


    {% else %}
        <a href="{% url "login" %}">Log in</a>
    {% endif %}
</li>