/* --HEADER-- */
/* TODO: This needs to be responsive */
@media only screen and (min-width: 768px) {
    .navbar-default .navbar-nav > li > a {
        line-height: 44px;
        font-size: 16px;
        font-weight: 600;

    }
    .navbar-form {
        position: relative;
        top: 50%;
        transform: translateY(25%);
    }
}
@media only screen and (max-width: 768px) {
    .navbar-header {
        height: 80px;
    }
}

.navbar-default .navbar-brand > img{
    position: relative;
    top: 50%;
    transform: translateY(-25%);
    height: 55px;
    width: auto;
}

header {
    margin-bottom: 20px;
}




