{% extends "salesbro/shop/base.html" %}
{% load staticfiles mezzanine_tags shop_tags rating_tags i18n %}

{% block meta_title %}{{ ticket.meta_title }}{% endblock %}
{% block body_id %}category{% endblock %}

{% block meta_keywords %}{% metablock %}
{% for keyword in ticket.keywords.all %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ ticket.description }}
{% endmetablock %}{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "mezzanine/css/magnific-popup.css" %}">
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static "mezzanine/js/magnific-popup.js" %}"></script>
<script>
$(document).ready(function() {
    $('#product-images-large').magnificPopup({
        delegate: 'a',
        type: 'image',
        gallery: {
            enabled: true
        }
    });
});
</script>
{% endblock %}


{% block breadcrumb_menu %}
{{ block.super }}
<li>{{ ticket.title }}</li>
{% endblock %}

{% block title %}
    {{ ticket.title }} - ${{ ticket.price }}
{% endblock %}

{% block main %}

{% if images %}
{% spaceless %}
<ul id="product-images-large" class="list-unstyled list-inline">
    {% for image in images %}
    <li id="image-{{ image.id }}-large"{% if not forloop.first %}style="display:none;"{% endif %}>
        <a class="product-image-large" href="{{ MEDIA_URL }}{{ image.file }}">
            <img alt="{{ image.description }}" src="{{ MEDIA_URL }}{% thumbnail image.file 0 300 %}" class="img-thumbnail img-responsive col-xs-12">
        </a>
    </li>
    {% endfor %}
</ul>

{% if images|length != 1 %}
<ul id="product-images-thumb" class="list-unstyled list-inline">
    {% for image in images %}
    <li>
        <a class="thumbnail" id="image-{{ image.id }}" href="{{ MEDIA_URL }}{{ image.file }}">
            <img alt="{{ image.description }}" src="{{ MEDIA_URL }}{% thumbnail image.file 75 75 %}">
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endspaceless %}
{% endif %}

{{ ticket.content|richtext_filters|safe }}

{% if ticket_options.count > 0 %}
    <div class="row">
        <div class="container-fluid">
            <strong>Ticket Options:</strong>
        </div>
    </div>
    <ul>
    {% for ticket_option in ticket_options %}
        <li>
            {{ ticket_option.title }} <br>
            - Total price:
            {% if ticket_option.on_sale %}
                ${{ ticket_option.price }} (<s>${{ ticket_option.unit_price }}</s>)
            {% else %}
                ${{ ticket_option.price }}
            {% endif %}
            {{ ticket_option.description|linebreaksbr }}
        </li>
    {% endfor %}
    </ul>
{% endif %}
<br />

{% if ticket.available and has_available_variations %}


{% errors_for add_product_form %}

<form method="post" id="add-cart" class="shop-form">
    {% csrf_token %}
    {% fields_for add_product_form %}
    <div class="form-actions">
        <input type="submit" class="btn btn-primary btn-lg pull-right" name="add_cart" value="{% trans "Buy" %}">
    </div>
</form>
{% else %}
<p class="error-msg">{% trans "This product is currently unavailable." %}</p>
{% endif %}

{% endblock %}
