{% extends "base.html" %}
{% load staticfiles mezzanine_tags thumbnail %}

{% block meta_title %}{{ ticket.meta_title }}{% endblock %}
{% block body_id %}category{% endblock %}

<!--TODO: make sure this keywords is working-->
{% block meta_keywords %}{% metablock %}
{% for keyword in page.keywords.all %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

<!--TODO: make sure this description is working-->
{% block meta_description %}{% metablock %}
{{ ticket.description }}
{% endmetablock %}{% endblock %}

<!--TODO: make sure this breadcrumb menu is working-->
{% block breadcrumb_menu %}
{{ block.super }}
<li>Registration</li>
<li>Event Registration</li>
{% endblock %}

{% block title %}
Event Registration
{% endblock %}

{% block main %}
<form method="POST" action="." class="register-event-form" novalidate autocomplete="off">
    {% csrf_token %}
    {{ event_formset.management_form }}
    <div class="row">
        <div class="col-md-12">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Filter Events
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% for category in event_categories %}
                        <li><a href="#">{{ category.1 }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


    {# Loop through all categories #}
    {% for category in event_categories %}
    <div class="spacer-10"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h3><strong>{{ category.1 }}</strong></h3>
                </div>
            </div>
            {# Loop through all events for this category #}
            {% for event in published_events %}
            {% if event.event_type == category.0 %}
            <div class="row">
                <div class="container-fluid">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-md-3">
                                    {% if event.image %}
                                        {% thumbnail event.image "200x115" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                        {% endthumbnail %}
                                    {% endif %}
                                </div>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-10 col-sm-8"><h3>{{ event.name }}</h3></div>
                                        <div class="col-md-2 col-sm-4">
                                        {% if registered %}
                                            <input type="submit" name="event-id" class="btn btn-primary" value="Unregister" style="padding:6px 4px;">
                                        {% elif event.is_full %}
                                            <input type="submit" name="event-id" class="btn btn-primary" value="Waitlist" style="padding:6px 4px;">
                                        {% else %}
                                            <input type="submit" name="event-id" class="btn btn-primary" value="Register" style="padding:6px 4px;">
                                        {% endif %}
                                            <div class="spacer-10"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-sm-4 hidden-xs"><strong>Start Time</strong></div>
                                        <div class="col-md-5 col-sm-4 hidden-xs"><strong>End Time</strong></div>
                                        <div class="col-md-2 col-sm-4 hidden-xs"><strong>Available</strong></div>
                                        <div class="hidden-lg hidden-md hidden-sm col-xs-12">
                                            <strong>Start Time:</strong> {{ event.start }}
                                        </div>
                                        <div class="hidden-lg hidden-md hidden-sm col-xs-12">
                                            <strong>End Time:</strong> {{ event.end }}
                                        </div>
                                        <div class="hidden-lg hidden-md hidden-sm col-xs-12">
                                            <strong>Available:</strong> {{ event.available_spots }}
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-sm-4 hidden-xs">{{ event.start }}</div>
                                        <div class="col-md-5 col-sm-4 hidden-xs">{{ event.end }}</div>
                                        <div class="col-md-2 col-sm-4 hidden-xs">{{ event.available_spots }}</div>
                                    </div>
                                </div>
                            </div>


                        {% if event.group_event or event.require_game_id %}
                            <div class="spacer-10"></div>

                            {% if event.group_event %}
                            <div class="row">
                                <div class="col-md-12 hidden-xs">
                                    group
                                </div>
                            </div>
                            {% endif %}
                            {% if event.require_game_id %}
                            <div class="row">
                                <div class="col-md-12 hidden-xs">
                                    game id
                                </div>
                            </div>
                            {% endif %}
                        {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor event %}
            {# Endloop through all events in this category #}
        </div>
    </div>
    {% endfor category %}
    {# Endloop through all categories #}

</form>
{% endblock main %}