{% extends "base.html" %}
{% load staticfiles mezzanine_tags thumbnail %}

{% block title %}Event Registration{% endblock title %}
{% block meta_title %}Event Registration{% endblock meta_title%}
{% block meta_ogtitle %}Event Registration{% endblock meta_ogtitle %}

<!--TODO: make sure this keywords is working-->
{% block meta_keywords %}{% metablock %}
{% for keyword in page.keywords.all %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

<!--TODO: make sure this description is working-->
{% block meta_description %}{% metablock %}
{{ ticket.description }}
{% endmetablock %}{% endblock %}

<!--TODO: make sure this breadcrumb menu is working-->
{% block breadcrumb_menu %}
{{ block.super }}
<li>Registration</li>
<li>Event Registration</li>
{% endblock %}

{% block body_id %}category{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Filter Events
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li id="ALL">
                    <a href="?category=">Display All</a>
                </li>
                <li class="divider"></li>
            {% for category in event_categories %}
                <li id="{{ category.0 }}">
                    <a href="?category={{ category.0 }}">
                        {{ category.1 }}
                    </a>
                </li>
            {% endfor %}
            </ul>

        </div>
    </div>
</div>


<div class="spacer-10"></div>

<div class="row">
    <div class="col-md-12">

        {# Loop through all events for this category #}
    {% for form in event_forms %}

        {% ifchanged form.event.event_type %}
        <div class="row">
            <div class="col-md-12">
                <h3><strong>{{ form.event.get_event_type_display }}</strong></h3>
            </div>
        </div>
        {% endifchanged %}

        <form method="POST" action="{% url 'eventbro:register_event' id=form.event.id %}?category={{ filter_category }}" class="register-event-form" novalidate autocomplete="off">
        {% csrf_token %}
        <div class="row">
            <div class="container-fluid">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            {% if form.event.image %}
                            <div class="col-md-3">
                                {% if form.event.image %}
                                    {% thumbnail form.event.image "200x115" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                    {% endthumbnail %}
                                {% endif %}
                            </div>
                            {% endif %}
                            {% if form.event.image %}
                            <div class="col-md-9">
                            {% else %}
                                <div class="col-md-12">
                            {% endif %}
                                <div class="row">
                                    <div class="col-md-10 col-sm-8"><h3>{{ form.event.name }}</h3></div>
                                    <div class="col-md-2 hidden-sm hidden-xs">
                                    {% if form.event in user.events %}
                                        <button name="unregister" class="btn btn-primary align-right" style="padding:10px 4px">Unregister</button>
                                    {% elif form.event.is_full %}
                                        <button name="register" class="btn btn-primary align-right" style="padding:10px 4px">Waitlist</button>
                                    {% else %}
                                        <button name="register" class="btn btn-primary align-right" style="padding:10px 4px">Register</button>
                                    {% endif %}
                                        <div class="spacer-10"></div>
                                    </div>
                                    <div class="hidden-lg hidden-md col-sm-4">
                                    {% if form.event in user.events %}
                                        <button name="unregister" class="btn btn-primary" style="padding:10px 4px">Unregister</button>
                                    {% elif form.event.is_full %}
                                        <button name="register" class="btn btn-primary" style="padding:10px 4px">Waitlist</button>
                                    {% else %}
                                        <button name="register" class="btn btn-primary" style="padding:10px 4px">Register</button>
                                    {% endif %}
                                        <div class="spacer-10"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 col-sm-4 hidden-xs"><strong>Start Time</strong></div>
                                    <div class="col-md-5 col-sm-4 hidden-xs"><strong>End Time</strong></div>
                                    <div class="col-md-2 col-sm-4 hidden-xs">
                                        <strong class="align-right">Available</strong>
                                    </div>
                                    <div class="hidden-lg hidden-md hidden-sm col-xs-12">
                                        <strong>Start Time:</strong> {{ form.event.start }}
                                    </div>
                                    <div class="hidden-lg hidden-md hidden-sm col-xs-12">
                                        <strong>End Time:</strong> {{ form.event.end }}
                                    </div>
                                    <div class="hidden-lg hidden-md hidden-sm col-xs-12">

                                        <strong>Available:</strong>
                                        {% if form.event.is_full %}
                                            0
                                        {% else %}
                                            {{ form.event.available_spots }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 col-sm-4 hidden-xs">{{ form.event.start }}</div>
                                    <div class="col-md-5 col-sm-4 hidden-xs">{{ form.event.end }}</div>
                                    <div class="col-md-2 col-sm-4 hidden-xs">
                                        <span class="align-right">
                                            {% if form.event.is_full %}
                                                0
                                            {% else %}
                                                {{ form.event.available_spots }}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if form.event.description %}
                        <div class="spacer-10"></div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ form.event.description|linebreaks }}
                            </div>
                        </div>
                        {% endif %}


                        {% if form.event.group_event or form.event.require_game_id %}
                            {% if form.event not in user.events or not user.events %}
                            <div class="spacer-10"></div>

                            <div class="row">
                                {% if form.event.group_event %}
                                <div class="col-md-5">
                                    <div class="form-group {% if form.group_name.errors %}has-error{% endif %}">
                                        {{ form.group_name.label_tag }}{{ form.group_name }}
                                        <div class="help-block">
                                            {% for error in form.group_name.errors %}
                                                <strong>{{ error }}</strong>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form.group_captain }} {{ form.group_captain.label_tag }}
                                    </div>
                                </div>
                                {% endif %}

                                {% if form.event.require_game_id %}
                                <div class="col-md-5">
                                    <div class="form-group {% if form.game_id_name.errors %}has-error{% endif %}">
                                        <label for="id_game_id_name">{{ form.event.game_id_name }}:</label>
                                        {{ form.game_id_name }}
                                        <div class="help-block">
                                            {% for error in form.game_id_name.errors %}
                                                <strong>{{ error }}</strong>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                            </div>

                            {% else %}
                                <div class="spacer-10"></div>
                                <a class="btn btn-default" href="{% url 'eventbro:registration_update' event_id=form.event.id %}">Edit Registration</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        </form>
    {% empty %}

        <div class="row">
            <div class="col-md-12">
                No events in this category
            </div>
        </div>

    {% endfor event %}
    {# Endloop through all events in this category #}
    </div>
</div>
{# Endloop through all categories #}

{# Script for jquery filtering #}
{#<script type="application/javascript">#}
{#    $(".dropdown-menu li").on("click", function(){#}
{#        var category_list = document.querySelectorAll('.reg-category');#}
{##}
{#        if (this.id == "ALL") {#}
{#            /* Display everything */#}
{#            for (var i= 0; i < category_list.length; ++i) {#}
{#                $("div#"+category_list[i].id).show(1000);#}
{#            }#}
{##}
{#        } else {#}
{#            for (var i= 0; i < category_list.length; ++i){#}
{#                if (this.id == category_list[i].id){#}
{#                    /* Make sure the element is visible */#}
{#                    $("div#"+category_list[i].id).show(1000);#}
{#                } else {#}
{#                    /* Make sure everything else is hidden */#}
{#                    $("div#"+category_list[i].id).hide(1000);#}
{#                }#}
{#            }#}
{#        }#}
{##}
{##}
{#    });#}
{#</script>#}
{% endblock main %}
