/* --GLOBAL-- */
body {
    background-color: #535454;
    color: #FFFFFF;
}
a {
    color: #FFFFFF;
}
a:hover {
    color: #579bd3;
}

/* --HEADER-- */
.navbar,
.navbar-default{
    background-color: #535454;
    background-image: none;
    border-color: #535454;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #579bd3;
    background-image: none;
}
.navbar-default .navbar-nav > .active,
.navbar-default .navbar-nav > .active > a{
    color: #ffffff;
    background-color: transparent;
    box-shadow: none;
    background-image: none;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #579bd3;
    background-image: none;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #579bd3;
    background-image: none;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #579bd3;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

/* --FOOTER-- */
footer {
    background-color: #535454;
    border-color: #535454;
    color: #FFFFFF;
}

.social-icons li a {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}

.social-icons li a:hover {
    background-color: #579bd3;
    border: 2px solid #579bd3;
}