*.pyc
*.pyo
*.db
.DS_Store
.coverage
website/settings/local_settings.py
static/media
website/static/media

# Collectstatic files
website/static

# Media files
website/media

# PyCharm files
.idea

# DB files
*.sqlite3

# Vagrant
.vagrant
vagrant_ansible_inventory_default

# VirtualEnv
.env
