*.pyc
*.pyo
*.db
.DS_Store
.coverage
website/settings/local_settings.py

# Collectstatic files
website/static

# Media files
website/media
# This wont work till git 2.7 client
# at which point we can create migrations for a several different things
# -Tickets (product/Tickets) with images
# -Events (game_logos) for event pages
!website/media/uploads/product/
!website/media/uploads/game_logos/

# PyCharm files
.idea

# DB files
*.sqlite3

# Vagrant
.vagrant
vagrant_ansible_inventory_default

# VirtualEnv
.env
