{% load staticfiles thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule for {{ request.user.first_name }}</title>
    <link rel="stylesheet" href="{% static "common/bootstrap/css/bootstrap.min.css" %}?{% now "zY" %}" type="text/css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-7 col-xs-7">
                <div class="container-fluid">
                    <img src="{% static "lantasy/img/logo/LANtasy_Logo_grey_h100px.png" %}">
                </div>
            </div>
            <div class="col-md-3 col-sm-5 col-xs-5">
                <div class="container-fluid">
                    <h1>
                        <small>Schedule for {{ request.user.first_name }}</small>
                    </h1>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="container-fluid">
                {% include 'userbro/schedule/schedule_detail.html' %}
            </div>
        </div>
    </div>
</body>
</html>