{% extends 'base.html' %}

{% block title %}Schedule{% endblock title %}
{% block meta_title %}Schedule{% endblock meta_title %}
{% block meta_ogtitle %}Schedule{% endblock meta_ogtitle %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li><a href="{% url "userbro:user_detail" %}">Profile</a></li>
    <li><a href="{% url "userbro:schedule" %}">Schedule</a></li>
{% endblock breadcrumb_menu %}

{% block body_id %}schedule{% endblock body_id %}

{% block main %}
    <div class="container-fluid">
        {% if registrations.exists %}
        <div class="row">
            <div class="col-md-12">
                <a href="{% url "userbro:schedule" action="print" %}" class="btn btn-default" target="_blank">
                    <i class="fa fa-print"></i>
                    Print Friendly
                </a>
            </div>
        </div>

        <div class="spacer-10"></div>

        <div class="row">
            <div class="col-md-12">
                {% include 'userbro/schedule/schedule_detail.html' %}
            </div>
        </div>
        {% else %}
            <div class="row">
                <div class="col-md-12">
                    You haven't signed up for any events yet.
                </div>
            </div>
        {% endif %}
    </div>
{% endblock main %}