{% extends "base.html" %}
{% load mezzanine_tags shop_tags i18n %}

{% block meta_title %}Sales Portal{% endblock %}
{% block title %}Sales Portal{% endblock %}
{% block body_id %}category{% endblock %}
{% block breadcrumb_full %}{% endblock breadcrumb_full %}

{% block main %}{% endblock main %}

{% block right_panel %}
    <div class="panel panel-default user-panel">
        <div class="panel-body">
            {% ifinstalled mezzanine.accounts %}
                {% include "accounts/includes/user_panel.html" %}
            {% endifinstalled %}
        </div>
    </div>
{% endblock right_panel %}