{% extends "salesbro/portal/base.html" %}
{% load mezzanine_tags shop_tags i18n %}

{% block body_id %}sales_portal_cart{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-9 middle">
                {% if cart_formset.forms %}
                    <div class="row">
                        <div class="col-md-12">
                            Review the cart with the customer and take payment before continuing.
                        </div>
                    </div>

                    <div class="spacer-10"></div>

                    <form method="post" class="order-form">
                        {% csrf_token %}

                        <hr><div class="spacer-10"></div>

                        {{ order_form.management_form }}
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-5">
                                <h3>Customer Details</h3>
                            </div>
                        </div>
                        <div class="row">
                        {% for field in order_form %}

                            {% if field.name == "billing_detail_first_name" %}
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                                {{ field.label }}{{ field }}
                            </div>
                            {% elif field.name == "billing_detail_last_name" %}
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                                {{ field.label }}{{ field }}
                            </div>
                            {% elif field.name == "billing_detail_phone" %}
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                                {{ field.label }}{{ field }}
                            </div>
                            {% elif field.name == "billing_detail_email" %}
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                                {{ field.label }}{{ field }}
                            </div>
                            {% else %}
                                {{ field.as_hidden }}
                            {% endif %}
                        {% endfor %}

                        </div>

                        <hr><div class="spacer-10"></div>


                        <!--TODO: reformat this using bootstrap scaffolding to make it look less like poop-->
                        {{ cart_formset.management_form }}
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-8"><h3>Item(s)</h3></div>
                            <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs"><h3>Unit Price</h3></div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4"><h3>Qty</h3></div>
                            <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs right"><h3 class="pull-right">Price</h3></div>
                        </div>

                        {% for form in cart_formset.forms %}
                            {% with form.instance as item %}
                                <div class="row">
                                    {{ form.id }}
                                    <div class="col-lg-5 col-md-6 col-sm-5 col-xs-8">{{ form.DELETE }} {{ item.description }}</div>
                                    <div class="col-lg-3 col-md-2 col-sm-3 hidden-xs">{{ item.unit_price|currency }}</div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 form-group
                                        {% if form.quantity.errors %}has-error{% endif %}">
                                        {{ form.quantity }}
                                    </div>

                                    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                                        <span class="pull-right">{{ item.total_price|currency }}</span>
                                    </div>
                                </div>
                            {% endwith %}
                        {% endfor %}

                        <div class="row">

                            <div class="col-md-3 pull-right">
                                {% order_totals %}
                            </div>

                        </div>

                        <hr><div class="spacer-30"></div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <input type="submit" name="back" class="btn btn-primary btn-lg" value="Back">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 center">
                                <input type="submit" name="update" class="btn btn-primary btn-lg" value="Update">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 right">
                                <input type="submit" name="order" class="btn btn-primary btn-lg align-right" value="Submit Order">
                            </div>
                        </div>
                    </form>


                {% else %}
                    <form method="post" class="cart-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                Your Cart is empty.
                            </div>
                        </div>
                        <div class="spacer-10"></div>

                        <hr><div class="spacer-30"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="submit" name="back" class="btn btn-primary btn-lg" value="Back">
                            </div>
                        </div>
                    </form>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock main %}
