{% extends "salesbro/portal/base.html" %}
{% load mezzanine_tags shop_tags i18n %}

{% block body_id %}sales_portal_checkout{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">

            <div class="col-md-9 middle">
                {% if request.cart.has_items %}
                    <div class="row">
                        <div class="col-md-12">
                            The following information is required to create the badge.
                        </div>
                    </div>

                    <div class="spacer-10"></div>
                    <form method="post" class="order-form">
                        {% csrf_token %}
                        <hr><div class="spacer-10"></div>

                        {{ order_form.management_form }}
                        <!--
                        Important: billing_detail_first_name, billing_detail_last_name, billing_detail_phone,
                        billing_detail_email

                        Optional: billing_detail_street, billing_detail_city, billing_detail_state,
                        billing_detail_postcode, billing_detail_country
                        -->
                        <h3>Important</h3>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="id_billing_detail_first_name">First name</label>
                                <input id="id_billing_detail_first_name" name="billing_detail_first_name"
                                              maxlength="100" type="text">
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="id_billing_detail_last_name">Last name</label>
                                <input id="id_billing_detail_last_name" name="billing_detail_last_name"
                                              maxlength="100" type="text">
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="id_billing_detail_phone">Phone</label>
                                <input id="id_billing_detail_phone" name="billing_detail_phone"
                                              maxlength="100" type="text">
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="id_billing_detail_email">Email</label>
                                <input id="id_billing_detail_email" name="billing_detail_email"
                                              maxlength="100" type="text">
                            </div>
                        </div>

                        <!--
                        Optional: billing_detail_street, billing_detail_city, billing_detail_state,
                        billing_detail_postcode, billing_detail_country
                        -->
                        <hr><h3>Less Important</h3>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="id_billing_detail_street">Street</label>
                                <input id="id_billing_detail_street" name="billing_detail_street"
                                              maxlength="100" type="text">
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="id_billing_detail_city">City</label>
                                <input id="id_billing_detail_city" name="billing_detail_city"
                                              maxlength="100" type="text">
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="id_billing_detail_state">Province/State</label>
                                <input id="id_billing_detail_state" name="billing_detail_state"
                                              maxlength="100" type="text">
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="id_billing_detail_postcode">Postal Code/Zip</label>
                                <input id="id_billing_detail_postcode" name="billing_detail_postcode"
                                              maxlength="100" type="text">
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="id_billing_detail_country">Country</label>
                                <input id="id_billing_detail_country" name="billing_detail_country"
                                              maxlength="100" type="text">
                            </div>
                        </div>

                        <hr><div class="spacer-30"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="submit" name="back" class="btn btn-primary btn-lg" value="Back">
                            </div>
                            <div class="col-md-4 center">
                                <input type="submit" name="update" class="btn btn-primary btn-lg" value="Update">
                            </div>
                            <div class="col-md-4 right">
                                <input type="submit" name="order" class="btn btn-primary btn-lg" value="Order">
                            </div>
                        </div>

                    </form>


                {% else %}
                    <form method="post" class="cart-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                Your Cart is empty.
                            </div>
                        </div>
                        <div class="spacer-10"></div>

                        <hr><div class="spacer-30"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="submit" name="back" class="btn btn-primary btn-lg" value="Back">
                            </div>
                            <div class="col-md-4 center"></div>
                            <div class="col-md-4 right"></div>
                        </div>
                    </form>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock main %}
