{% extends "salesbro/portal/base.html" %}
{% load mezzanine_tags shop_tags %}

{% block body_id %}vendor_sale_list{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">

            <div class="col-md-9 middle">
                <div class="row">
                    <div class="col-md-12">
                        Add quantity to items the customer wants.
                    </div>
                </div>
                <div class="spacer-10"></div>

                <form method="POST" action="." class="cart-form" novalidate autocomplete="off">
                    {% csrf_token %}
                    <hr><div class="spacer-10"></div>
                    {{ ticket_option_formset.management_form }}
                    <div class="row">
                        <div class="col-md-5"><h3>Tickets</h3></div>
                        <div class="col-md-2"><h3>Unit Price</h3></div>
                        <div class="col-md-1"><h3>Qty</h3></div>
                        <div class="col-md-4">&nbsp;</div>
                    </div>

                    {% for form in ticket_option_formset %}
                        <div class="row">
                            {{ form.id }}
                            <div class="col-md-5">{{ form.ticket_option.get_full_name }}</div>
                            <div class="col-md-2">{{ form.instance.price|currency }}</div>
                            <div class="col-md-1 quantity">
                                {{ form.quantity }}
                            </div>
                            <div class="col-md-4 {% if form.quantity.errors %}has-error{% endif %}">
                                {% if form.quantity.errors %}
                                    <p class="errorlist">
                                        {{ form.quantity.errors.0 }}
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                    <hr><div class="spacer-10"></div>
                    {{ product_formset.management_form }}
                    <div class="row">
                        <div class="col-md-5"><h3>Products</h3></div>
                        <div class="col-md-2"><h3>Unit Price</h3></div>
                        <div class="col-md-1"><h3>Qty</h3></div>
                        <div class="col-md-4">&nbsp;</div>
                    </div>

                    {% for form in product_formset %}
                        <div class="row">
                            {{ form.id }}
                            <div class="col-md-5">{{ form.instance.product.description }}</div>
                            <div class="col-md-2">{{ form.instance.price|currency }}</div>
                            <div class="col-md-1 quantity">
                                {{ form.quantity }}
                            </div>
                            <div class="col-md-4 {% if form.quantity.errors %}has-error{% endif %}">
                                {% if form.quantity.errors %}
                                    <p class="errorlist">
                                        {{ form.quantity.errors.0 }}
                                    </p>
                                {% endif %}
                            </div>
                        </div>

                    {% endfor %}


                    <hr><div class="spacer-30"></div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 center">
                            <input type="submit" name="add_to_cart" class="btn btn-primary btn-lg" value="Add">
                        </div>
                        <div class="col-md-4 right">
                            {% if request.cart.has_items %}
                                <input type="submit" name="go_to_cart" class="btn btn-primary btn-lg" value="Next">
                            {% endif %}

                        </div>
                    </div>
                    <div class="form-actions">


                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock main %}

