{% load shop_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>LANtasy Order Receipt</title>
    {% include "salesbro/includes/style.html" %}
</head>
<body>
{% include "salesbro/includes/preheader.html" %}
{% include "salesbro/includes/header.html" %}
{% include "salesbro/includes/main-banner.html" %}
{% include "salesbro/includes/seperator.html" %}
{% include "salesbro/includes/full-text.html" %}
{% include "salesbro/includes/seperator.html" %}
{% include "salesbro/includes/3columns.html" %}
{% include "salesbro/includes/seperator.html" %}
{% include "salesbro/includes/2columns.html" %}
{% include "salesbro/includes/seperator.html" %}
{% include "salesbro/includes/full-text.html" %}
{% include "salesbro/includes/seperator.html" %}
{% include "salesbro/includes/post-footer.html" %}
</body>
</html>
