{% extends "base.html" %}

{% load crispy_forms_tags thumbnail %}

{% block breadcrumb_menu %}
    <li><a href="{% url "badgebro:front_desk" %}">Badge List</a></li>
    <li class="active">Order {{ order.id }}</li>
{% endblock %}

{% block content %}

    <div class="container hidden-print">
        <form action="." method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                <div class="row" style="margin-top: 25px;">
                    <div class="col-xs-12">
                        <h4>{{ form.instance.uid }}</h4>
                    </div>
                </div>
                <div class="badge-row" data-badge-id="{{ form.instance.uid }}">

                    <div class="row">
                    <div class="col-md-12">
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endfor %}

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ form.first_name|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ form.last_name|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ form.type|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="div_id_ticket" class="form-group">
                                            <label for="id_ticket" class="control-label">Ticket</label>
                                            <div class="controls">
                                                <input class="form-control" id="id_ticket" type="text" readonly="" value="{{ form.instance.ticket }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="div_id_printed" class="form-group">
                                            <label for="id_printed" class="control-label">Printed</label>
                                            <div class="controls">
                                                <input class="form-control" id="id_printed" type="text" readonly="" value="{{ form.instance.printed|default_if_none:"Not yet" }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="div_id_collected" class="form-group">
                                            <label for="id_collected" class="control-label">Collected</label>
                                            <div class="controls">
                                                <input class="form-control" id="id_collected" type="text" readonly="" value="{{ form.instance.collected|default_if_none:"Not yet" }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="row">
                    <div class="col-md-3">
                        <button class="btn btn-primary btn-block btn-lg" type="submit">
                            <i class="glyphicon glyphicon-floppy-saved"></i> Save
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-default btn-block btn-lg collect-btn" type="button">
                            <i class="glyphicon glyphicon-tag"> </i> Pick Up
                        </button>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-default btn-block btn-lg print-btn" href="{% url "badgebro:badge_print" uid=form.instance.uid %}">
                            <i class="glyphicon glyphicon-print"></i> Print
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-default btn-block btn-lg" href="{% url 'badgebro:badge_order_upgrade' order_pk=order.id uid=form.instance.uid %}">
                            <i class="glyphicon glyphicon-arrow-up"></i> Upgrade
                        </a>
                    </div>
                </div>

                </div>
            {% endfor %}
        </form>
    </div>

    <div class="container visible-print">
        <div id="first-name">
            {{ badge.first_name }}
        </div>
        {% thumbnail badge.qr_code "250x250" crop="center" as im %}
            <img id="qr-code" src="{{ im.url }}">
        {% endthumbnail %}
    </div>


{% endblock content %}

{% block extra_js %}
<script type="text/javascript">

    function markBadgePrinted(badgeId, callback){

        var url = "/frontdesk/" + badgeId + "/printed/";

        $.ajax({
            url: url,
            method: "POST",
            success: callback
        });
    }

    function markBadgeCollected(badgeId, callback){

        var url = "/frontdesk/" + badgeId + "/collected/";

        $.ajax({
            url: url,
            method: "POST",
            success: callback
        });
    }

    function getBadgeId(el){
        return $(el).parents(".badge-row").data('badge-id');
    }

    $(function(){

        var $print = $(".print-btn"),
            $collect = $(".collect-btn");

        $print.on("click", function(e){
            e.preventDefault();
            var badgeId = getBadgeId(this);
            var printUrl = $(this).attr("href");
            console.info("Dostuff");
            markBadgePrinted(badgeId, function(data){
                window.open(printUrl, "Print Badge", "width=500,height=500");
            });

        });

        $collect.on("click", function(e){

            var badgeId = getBadgeId(this);

            markBadgeCollected(badgeId, function(data){
                location.reload();
            });
        });

    });
</script>
{% endblock extra_js %}
