{% extends "base.html" %}

{% load crispy_forms_tags thumbnail %}

{% block breadcrumb_full %}

{% endblock breadcrumb_full %}

{% block content %}

    <div class="container hidden-print">

        <div class="row" style="margin-top: 30px;">

            <h4>Badge {{ badge.uid }}</h4>

            <div class="row">
                <div class="col-lg-6">
                    <form action="." method="post">
                        {% csrf_token %}
                        {{ form.first_name|as_crispy_field }}
                        {{ form.last_name|as_crispy_field }}
                        {{ form.type|as_crispy_field }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary pull-right">Save</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label">Printed</label>
                        <p class="form-control-static">
                            {{ badge.printed|default_if_none:"Not yet" }}
                        </p>
                        <label class="control-label">Collected</label>
                        <p class="form-control-static">
                            {{ badge.collected|default_if_none:"Not yet" }}
                        </p>
                    </div>
                </div>
                <div class="col-lg-2">


                    <a class="btn btn-default btn-block" href="{% url 'badge_upgrade' uid=badge.uid %}"><i class="fa fa-arrow-up"></i> Upgrade</a>
                    <button class="btn btn-default btn-block" id="id_print"><i class="fa fa-print"></i> Print</button>
                    <button class="btn btn-default btn-block"><i class="fa fa-tag"></i> Collect</button>


                </div>
            </div>
        </div>

    </div>

    <div class="container visible-print">
        <div id="first-name">
            {{ badge.first_name }}
        </div>
        {% thumbnail badge.qr_code "250x250" crop="center" as im %}
            <img id="qr-code" src="{{ im.url }}">
        {% endthumbnail %}
    </div>


{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    $(function(){

        var $print = $("#id_print");

        $print.on("click", function(e){
            window.print();
        });

    });
</script>
{% endblock extra_js %}
