{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Badge</title>
    <link rel="stylesheet" href="{% static "badgebro/css/badge-bulk-print.css" %}" type="text/css">

</head>
<body>
{#    <div id="page">#}
{##}
{#    </div>#}

    {% for badge in badge_list %}

    <div class="badge badge-{% cycle '1' '2' '3' '4'%}">
        
        <div id="year">
            <span>
            <p>{{ badge.get_convention_year }}</p>
                </span>
        </div>
        <div id="firstname">{{ badge.first_name }}</div>
        <div id="lastname">{{ badge.last_name }}</div>
        <div id="code">{{ badge.get_partial_badge_id }}</div>
        <div id="option"><p>{{ badge.option }}</p></div>
        <div id="qrcode">
            <span>
                {% thumbnail badge.qr_code "137x137" as im %}
                    <img id="qr-code" src="{{ im.url }}">
                {% endthumbnail %}
            </span>
        </div>
        <div id="type">
            <p>{{ badge.type|cut:"Pass"|upper }}</p>
        </div>
    </div>


    {% if forloop.counter|divisibleby:4 %}
        <div class="break"></div>
    {% endif %}

    {% endfor %}
</body>
</html>
