{% extends "base.html" %}
{% load user_tags %}

{% block breadcrumb_menu %}
    <li class="active">Badge List</li>
{% endblock breadcrumb_menu %}

{% block content %}

    <div class="container">

        <div class="row" style="margin-top: 30px;">
            <div class="col-lg-12">
                <form class="form-inline" action="." method="get">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" autofocus class="form-control input-lg"
                               name="search" value="{{ request.GET.search|default_if_none:"" }}"
                               placeholder="Search" style="width:100%">
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary btn-lg" type="submit">
                                <i class="fa fa-search"></i> Search
                            </button>
                            <a class="btn btn-default btn-lg" href="{% url 'badgebro:front_desk' %}">
                                <i class="fa fa-times"></i> Clear
                            </a>
                            {% ifusergroup trusted %}
                                <a class="btn btn-default btn-lg" href="{% url 'badgebro:badge_create' %}">
                                    <i class="fa fa-plus"></i> New
                                </a>
                            {% endifusergroup trusted %}
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <td class="text-align-center"><h3>Order</h3></td>
                            <td class="text-align-center"><h3>Name</h3></td>
                            <td class="text-align-center"><h3>Badge</h3></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for badge in badge_list %}
                        <tr>
                            <td class="text-align-center">
                                {% if badge.order_id %}
                                    <a href="{% url "badgebro:badge_order_detail" order_pk=badge.order_id %}">
                                        #{{ badge.order_id }}
                                    </a>
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td class="text-align-center">
                                {{ badge.last_name }}, {{ badge.first_name }}
                            </td>
                            <td class="text-align-center">
                                <a href="{% url 'badgebro:badge_detail' uid=badge.uid %}">
                                    {{ badge.uid }}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                {% if is_paginated %}
                    <ul class="pagination pagination-centered">
                        {% if page_obj.has_previous %}
                            <li><a href="?page=1"><<</a></li>
                            <li><a href="?page={{ page_obj.previous_page_number }}"><</a></li>
                        {% endif %}

                        {% for i in paginator.page_range %}
                            <li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">></a></li>
                            <li><a href="?page={{ page_obj.paginator.num_pages }}">>></a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>

    </div>

{% endblock content %}
