{% extends "base.html" %}
{% load i18n staticfiles %}

{% block meta_title %}Western Canada's largest game convention{% endblock meta_title %}
{% block title %}Western Canada's largest game convention{% endblock title %}
{% block meta_keywords %}{% trans settings.SITE_TAGLINE %} {{ settings.SITE_TITLE }}{% endblock meta_keywords %}
{% block meta_description %}{% trans settings.SITE_TAGLINE %}{% endblock meta_description %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "lantasy/css/weather.css" %}">
    <link rel="stylesheet" href="{% static "lantasy/css/custom.css" %}">
    <link rel="stylesheet" href="{% static "lantasy/css/line-icons.css" %}">
    <link rel="stylesheet" href="{% static "lantasy/css/animations.css" %}">
{% endblock extra_css %}

{% block meta_facebook %}
    <meta property="og:image" content="https://www.lantasy.com{% static "lantasy/img/facebook/fb-logo1-large.png" %}" />
    <meta property="og:image:secure_url" content="https://www.lantasy.com{% static "lantasy/img/facebook/fb-logo1-large.png" %}" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1084" />
    <meta property="og:image:height" content="723" />
{% endblock meta_facebook %}

{% block extra_js %}
    <script src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="{% static "lantasy/js/Geocoder.js" %}"></script>
{% endblock extra_js %}


{% block extra_head %}
{% endblock extra_head %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Home" %}</li>
{% endblock %}
{% block body %}
    <div class="showcase wheighter">
        <!-- Start Hero Slider -->
        <div class="hero-slider flexslider wheighter" data-autoplay="yes" data-pagination="no" data-arrows="no" data-style="fade" data-speed="5000" data-pause="no">
            <ul class="slides">
                <li class=" parallax parallax1 wheighter" style="background-image:url('{% static "lantasy/img/flexslider/BCG_GC2015-9833-3.jpg" %}');"></li>
                <li class=" parallax parallax1 wheighter" style="background-image:url('{% static "lantasy/img/flexslider/IMG_1894.JPG" %}');"></li>
                <li class=" parallax parallax1 wheighter" style="background-image:url('{% static "lantasy/img/flexslider/BCG_GC2015-9879-3_TEMP.jpg" %}');"></li>
                <li class=" parallax parallax1 wheighter" style="background-image:url('{% static "lantasy/img/flexslider/IMG_1801.JPG" %}');"></li>
            </ul>
        </div>
        <!-- End Hero Slider -->
        <div class="event-hero-info">
        	<div class="container">
                <div class="event-info">
                    <header>
                        <div class="LANtext" data-appear-animation="rotateIn">
                            <span class="fl" data-appear-animation="fadeInDown" data-appear-animation-delay="200">Brought to you by LANtasy Gaming Society</span>
                            <span class="sl" data-appear-animation="zoomIn" data-appear-animation-delay="500">LANtasy</span>
                            <span class="tl" data-appear-animation="fadeInDown" data-appear-animation-delay="700">at Pearkes Arena, Victoria BC</span>
                            <span class="event-date" data-appear-animation="fadeInUp" data-appear-animation-delay="900">12-13 March, 2016</span>
                        </div>
                    </header>
                </div>
           	</div>
        </div>
    </div>

    <!-- Start Body Content -->
  	<div class="main" role="main">
    	<div id="content" class="content full">
        	<!-- Home Section Content -->
        	<section class="lantasyDark_bg" id="home">
                <div class="container-spec home-content">
                    <div class="row">
                        <div>
                            <div style="text-align: center;">
                                <div style="word-spacing: 50px">
                                    <h3 class="page-title">Sponsors</h3>
                                    <div class="sponsor-logo-major"><a href="http://www.gigabyte.com.tw/"><img src="{% static "lantasy/img/sponsors/gigabyte_logo.png" %}" alt=""></a></div>
                                    <div class="sponsor-logo-major"><a href="http://www.victech.ca"><img src="{% static "lantasy/img/sponsors/victech_logo.png" %}" alt=""></a></div>
                                </div>
                                <div style="word-spacing: 50px">
                                    <div class="sponsor-logo-minor"><a href="http://www.shaw.ca"><img src="{% static "lantasy/img/sponsors/shaw_logo.png" %}" width="66%" alt=""></a></div>
                                    <div class="sponsor-logo-minor"><a href="http://www.everythinggames.ca"><img src="{% static "lantasy/img/sponsors/everythinggames_logo.png" %}" width="66%" alt=""></a></div>
                                    <div class="sponsor-logo-minor"><a href="http://www.steelswordsproductions.com"><img src="{% static "lantasy/img/sponsors/steelswordprod_logo.png" %}" width="66%" alt=""></a></div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-md-7 col-sm-7">
                            <div class="fw-inner-right">
                                <h3 class="accent-color-secondary">Didn’t make it to our last event? Here’s a taste of what you missed.</h3>
                                <blockquote>
                                    <p>Our volunteers previously worked for Victoria’s most popular multi-spectrum
                                        gaming event of the year. We ran from Friday Feb 27th to Sunday March 1st 2015.
                                        The event saw several hundred participants walk through the door, who got the
                                        chance to take part in many various events and tournaments. Activities ranged
                                        from miniatures, to tabletop games, all the way to a bring-your- own-computer
                                        LAN party.</p>
                                <a href="http://imgur.com/a/08QsU" class="basic-link">View photos on Imgur</a>
                                </blockquote>
                            </div>
                        </div>--->
                    </div>
              	</div>
           	</section>
           	<!-- Venue Section Content -->
        	<section class="onepage-section lantasyDark_bg" id="venue">
            	<div class="container">
                	<header class="onepage-section-headers text-align-center">
                    	<h3 class="page-title">Pearkes Recreation Centre</h3>
                    	<p>One of the best venues in Victoria for LAN events, the Pearkes Field House offers lots of room, great parking, and many food options.</p>
                   		<a href="http://www.saanich.ca/parkrec/recreation/pearkes.html" class="btn btn-primary btn-lg">More info about Pearkes</a>
                   	</header>
              	</div>
                <div class="venue-view lantasyDark_bg">
                	<div id="gmap"></div>
                	<div class="quick-venue-info ">
                    	<div class="quick-venue-info-details lantasyDark_bg">
                            <h3>Pearkes Recreation Centre of Victoria</h3>
                            <p>3100 Tillicum Rd, Victoria B.C., V9A 6T2</p>
                      	</div>
                        <hr class="fw">
                    	<div class="quick-venue-info-details qvicons">
                        	<a href="https://www.google.ca/maps/search/food/Pearkes+Recreation+Centre+3100+Tillicum+Road+Victoria+BC+V9A+6T2+Canada" class="ico" data-toggle="tooltip" data-original-title="Food" target="_blank"><i class="icon-fast-food"></i></a>
                        	<a href="https://www.google.com/maps/dir/Current+Location/Pearkes+Recreation+Centre+3100+Tillicum+Road+Victoria+BC+V9A+6T2+Canada" class="ico" data-toggle="tooltip" data-original-title="Directions" target="_blank"><i class="icon-map"></i></a>
                        	<a href="https://www.google.ca/maps/search/hotels/Pearkes+Recreation+Centre+3100+Tillicum+Road+Victoria+BC+V9A+6T2+Canada" class="ico" data-toggle="tooltip" data-original-title="Hotels" target="_blank"><i class="fa fa-building-o"></i></a>
                        	<!--<a href="#" class="ico" data-toggle="tooltip" data-original-title="Parking"><i class="fa fa-automobile"></i></a>-->
                        </div>
                        <hr class="fw">
                        <span class="small">Current Weather</span>
                    	<div id="weather"></div>
                    </div>
                </div>
            </section>
        	<section class="onepage-section lantasyDark_bg" id="about">
            	<div class="container">
                	<header class="onepage-section-headers text-align-center">
                    	<h3 class="page-title text-align-center">About</h3>
                    	<!--<h2 class="page-stitle">Some Information about BCGamer and past events</h2>-->
                        <p>Local Victoria-based nonprofit organization, LANtasy, has been running community events for
                            over a decade. Last year, we ran western Canada's largest LAN event at one of Victoria's
                            premiere multi-spectrum gaming productions. It is our mission to throw inclusive, all-ages
                            gaming events. To that end, we present LANtasy 2016.</p>
                        <p>LANtasy 2016 is being held March 12/13 at Pearkes Arena in Victoria BC. It is an event
                            that hosts a LAN Party, Tabletop Gaming, RPG’s, and boardgames! Expect local cosplayers
                            to be in full force and for local vendors to be offering awesome deals to LANtasy
                            participants.</p>
                   	</header>
               	</div>
                <div class="container">
                	    <div class="row">
                            <div class="col-md-4 col-md-offset-1 sm-push-top">
                            	<h3>Contact Us</h3>
                            	<address>
                                	<a href="mailto:info@lantasy.com" class="basic-link">info@lantasy.com</a><br>
                                </address>
                            </div>
                       	</div>
                   <!-- </form>-->

               	</div>
            </section>
        	<!-- Register Section Content -->
        	<section class="onepage-section lantasyDark_bg" id="register">

            </section>
        </div>
    </div>


{% endblock body %}