{% load thumbnail %}
<div class="panel panel-default user-panel">
    <div class="panel-body">
        {% if event.subname %}
        <div class="row">
            <div class="col-md-2 col-sm-2"><strong>Instance:</strong></div>
            <div class="col-md-10 col-sm-10">
                {{ event.subname }}
            </div>
        </div>
        {% endif %}


        {% if event.organizer %}
        <div class="row">
            <div class="col-md-2 col-sm-2"><strong>Organizer:</strong></div>
            <div class="col-md-10 col-sm-10">
                {{ event.organizer }}
            </div>
        </div>
        {% endif %}


        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-12">
                <strong>Start:</strong>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                {{ event.start }}
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <strong>End:</strong>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                {{ event.end }}
            </div>
        </div>


        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-12">
                <strong>Size:</strong>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                {% if event.disable_registration or event.size == 0 %}
                    Drop in event <br>
                {% else %}
                    {{ event.size }} participants
                {% endif %}
            </div>

        {% if not event.disable_registration and event.size != 0 %}
            <div class="col-md-2 col-sm-2 col-xs-12">
                <strong>Available:</strong>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                {% if event.is_full %}
                    0 (Waitlisting)
                {% else %}
                    {{ event.available_spots }}
                {% endif %}
            </div>
        {% else %}
            <div class="col-md-6 col-sm-6 col-xs-12">
                Registration is not required
            </div>
        {% endif %}
        </div>

        <div class="spacer-10"></div>

        {% if event.description %}
        <div class="row">
            <div class="col-md-2 col-sm-2"><strong>Description:</strong></div>
            <div class="col-md-10 col-sm-10">
                {{ event.description|linebreaks }}
            </div>
        </div>
        {% endif %}

        <div class="spacer-10"></div>

        {% with sponsors=event.sponsors.all %}
        {% if sponsors %}
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <strong>
                    Sponsor{% if sponsors.count > 1 %}s{% endif %}:
                </strong>
            </div>
            <div class="col-md-10 col-sm-10">
            {% for sponsor in sponsors %}
                {% if not forloop.first %}<br>{% endif %}
                {% if sponsor.url %}<a href="{{ sponsor.url }}">{% endif %}
                    {% if sponsor.logo %}
                        {% thumbnail sponsor.logo "x115" format="PNG" padding=True as im %}
                            <img src="{{ im.url }}">
                        {% endthumbnail %}
                    {% else %}
                        {{ sponsor.name }}
                    {% endif %}
                {% if sponsor.url %}</a>{% endif %}
            {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endwith %}

        <div class="row">
            <div class="col-md-2 col-sm-2"><strong>Ticket Type(s):</strong></div>
            <div class="col-md-10 col-sm-10">
                {% for option in event.valid_options.all %}
                    {{ option }}<br>
                {% endfor %}
            </div>
        </div>

            <div class="spacer-10"></div>

        {% if event.prizes %}
        <div class="row">
            <div class="col-md-2 col-sm-2"><strong>Prizing:</strong></div>
            <div class="col-md-10 col-sm-10">
                {{ event.prizes|linebreaks }}
            </div>
        </div>
        {% endif %}

        <div class="spacer-10"></div>

        {% if event.rules %}
        <div class="row">
            <div class="col-md-2 col-sm-2"><strong>Rules:</strong></div>
            <div class="col-md-10 col-sm-2">
                {{ event.rules|linebreaks }}
            </div>
        </div>
        {% endif %}
    </div>
</div>