<div class="panel panel-default user-panel">
    <div class="panel-body">
        {% if event.organizer %}
        <div class="row">
            <div class="col-md-2"><strong>Organizer:</strong></div>
            <div class="col-md-10">
                {{ event.organizer }}
            </div>
        </div>
        {% endif %}


        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-12">
                <strong>Start:</strong>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                {{ event.start }}
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <strong>End:</strong>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                {{ event.end }}
            </div>
        </div>


        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-12">
                <strong>Size:</strong>
            </div>
            <div class="col-md-4 col-md-4 col-xs-12">
                {% if event.disable_registration or event.size == 0 %}
                    Drop in event <br>
                    Registration is not required
                {% else %}
                    {{ event.size }} participants
                {% endif %}
            </div>

        {% if not event.disable_registration and event.size != 0 %}
            <div class="col-md-2 col-sm-2 col-xs-12">
                <strong>Available:</strong>
            </div>
            <div class="col-md-4 col-md-4 col-xs-12">
                {% if event.is_full %}
                    0 (Waitlisting)
                {% else %}
                    {{ event.available_spots }}
                {% endif %}
            </div>
        {% endif %}
        </div>
    </div>
</div>