{% extends "base.html" %}
{% load staticfiles mezzanine_tags thumbnail %}

{% block title %}{{ eventtype.name }}{% endblock title %}
{% block meta_title %}{{ eventtype.name }}{% endblock %}
{% block meta_ogtitle %}{{ eventtype.name }}{% endblock meta_ogtitle %}

{% block breadcrumb_menu %}
    {{ block.super }}
    {% with convention=eventtype.get_convention %}
        <li><a href="{% url "eventbro:convention_detail" slug=convention.slug %}">{{ convention.name }}</a></li>
    {% endwith %}
    <li><a href="{% url "eventbro:event_type_detail" slug=eventtype.slug %}">{{ eventtype.name }}</a></li>
{% endblock %}

{% block body_id %}event_type{% endblock %}


{% block main %}
    {% with events=eventtype.get_events %}
        {% if events.exists %}
            <div class="row">
                <div class="col-md-12">
                    <h2>Events</h2>
                </div>
            </div>
            {% for event in events %}
                {% if forloop.first %}
                <div class="row">
                {% else %}
                    {% if forloop.counter|divisibleby:4%}
                    </div>
                    <div class="row">
                    {% endif %}
                {% endif %}

                    <div class="col-md-3">
                        <div class="panel">
                            <a href="{% url "eventbro:event_detail" slug=event.slug %}" class="center-block text-align-center">
                                {% if event.image %}
                                    {% thumbnail event.image "x115" format="PNG" padding=True as im %}
                                        <img src="{{ im.url }}" class="game">
                                    {% endthumbnail %}
                                {% else %}
                                    <strong class="game">{{ event.name }}</strong>
                                {% endif %}
                            </a>
                        </div>
                    </div>

                {% if forloop.last %}
                </div>
                {% endif %}
            {% endfor %}

        {% else %}
            <div class="row">
                <div class="col-md-12">
                    <p>Events under this category are not currently available.</p>
                    <p>Please come back later.</p>
                </div>
            </div>
        {% endif %}
    {% endwith %}
{% endblock main  %}