{% extends "www/base.html" %}

{% load staticfiles %}
{% load bootstrap_tags %}

{% block head-style %}
    <link rel="stylesheet" href="{% static "www/css/bcg-theme-home.css" %}" />
{% endblock head-style %}

{% block body %}
    <div class="body_frame top-buffer">
        <div class="col-sm-3 col-md-3">
            <div class="Toolbar">
            <!-- Not visible in mobile -->
                <div class="Tickets">
                    <p>Event Name</p><p>Tickets</p>
                    <hr>
                </div>
                <div class="Registration top-buffer">
                    <p>Event Name</p><p>Registration</p>
                    <hr>
                </div>
                <div class="Sponsors top-buffer">
                    <p>Event Name</p><p>Sponsors img</p>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-9">

            <div class="About">
                <div class="text">
                    <p>
                        Founded in 2011, BC Gamer is a group of gaming enthusiasts
                        to provide event services, systems development, and more.
                    </p>
                    <p>
                        We are located in Victoria British Columbia Canada. Our primary
                        goal is to engage the gaming and tech community in new and
                        exciting ways.
                    </p>
                </div>
            </div>


            <div class="News top-buffer">
                <!-- Create a new row for each news item-->
                <div class="article">
                    <div class="Title"><a href="#">New Website!</a></div>
                    <div class="Info">
                        <span class="Date">07 July 2015</span>
                         -
                        <span class="Poster">Dobbo</span>
                    </div>
                    <div class="Post">
                        <p>
                            We've finally tossed Wordpress aside in favour of a more
                            flexible architecture.
                        </p>
                    </div>
                    <!-- only place <hr> if this isn't the last article -->
                    <hr>
                </div>
                <div class="article">
                    <div class="Title"><a href="#">New Website!</a></div>
                    <div class="Info">
                        <span class="Date">07 July 2015</span>
                         -
                        <span class="Poster">Dobbo</span>
                    </div>
                    <div class="Post">
                        <p>
                            We've finally tossed Wordpress aside in favour of a more
                            flexible architecture.
                        </p>
                    </div>
                    <!-- only place <hr> if this isn't the last article -->
                    <hr>
                </div>
                <div class="article">
                    <div class="Title"><a href="#">New Website!</a></div>
                    <div class="Info">
                        <span class="Date">07 July 2015</span>
                         -
                        <span class="Poster">Dobbo</span>
                    </div>
                    <div class="Post">
                        <p>
                            We've finally tossed Wordpress aside in favour of a more
                            flexible architecture.
                        </p>
                    </div>
                    <!-- only place <hr> if this isn't the last article -->
                    <hr>
                </div>
                <div class="article">
                    <div class="Title"><a href="#">New Website!</a></div>
                    <div class="Info">
                        <span class="Date">07 July 2015</span>
                         -
                        <span class="Poster">Dobbo</span>
                    </div>
                    <div class="Post">
                        <p>
                            We've finally tossed Wordpress aside in favour of a more
                            flexible architecture.
                        </p>
                    </div>
                    <!-- only place <hr> if this isn't the last article -->
                    <hr>
                </div>
                <div class="article">
                    <div class="Title"><a href="#">New Website!</a></div>
                    <div class="Info">
                        <span class="Date">07 July 2015</span>
                         -
                        <span class="Poster">Dobbo</span>
                    </div>
                    <div class="Post">
                        <p>
                            We've finally tossed Wordpress aside in favour of a more
                            flexible architecture.
                        </p>
                    </div>
                    <!-- only place <hr> if this isn't the last article -->
                    <hr>
                </div>
                <div class="article">
                    <span class="Title">New Website!</span>
                    <span class="Date">07 July 2015</span>
                    <p>
                        We've finally tossed Wordpress aside in favour of a more
                        flexible architecture.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}