@media print {
    @page {
        size: 215.9mm 279.4mm;
        /*size: 230mm 300mm;*/
    }

    .break {
        page-break-after: always;
    }
}

body {
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
}


.badge {
    position: relative;
    /*border:1px dashed black;*/
    width:82.075mm;
    height:120.35mm;
    display: inline-block;
}

.badge.badge-1 {
    top: 6.35mm;
    left: 15.875mm;
}

.badge.badge-2 {
    top: 6.35mm;
    left: 19.2mm;
}

.badge.badge-3 {
    top: 5.2mm;
    left: 15.875mm;
}

.badge.badge-4 {
    top: 5.2mm;
    left: 19.2mm;
}

#type {
    position: absolute;
    /*border:1px dashed black;*/
    left:0;
    top:94.5125mm;
    width:82.075mm;
    height:20.8375mm;
}

#type > p {
    display: table-cell;
    vertical-align:middle;
    text-align:center;
    width:82.075mm;
    height:18.8375mm;

    font-size: 13mm;
    font-weight: 900;

    transform:scale(1,2); /* W3C */
    -webkit-transform:scale(1,2); /* Safari and Chrome */
    -moz-transform:scale(1,2); /* Firefox */
    -ms-transform:scale(1,2); /* IE 9 */
    -o-transform:scale(1,2); /* Opera */
}

#year {
    position: absolute;
    /*border:1px dashed black;*/
    left:3mm;
    top:30.8375mm;
    width:18.3583mm;
    height:61.675mm;
}
#year > span {
    position: relative;
    width:18.3583mm;
    height:61.675mm;
    display: table-cell;
    text-align: center;
    vertical-align:middle;
    /*border:1px dashed black;*/
}
#year > span > p {
    font-size: 21mm;
    transform: rotate(90deg);
    /*border:1px dashed black;*/
    top:-5mm;
    left:-19mm;

    overflow:hidden;
    text-overflow:ellipsis;
    /*white-space:nowrap;*/
    position: absolute;
}

#qrcode {
    position: absolute;
    /*border:1px dashed black;*/
    left:45.7166mm;
    top:56.1542mm;
    width:36.3583mm;
    height:36.3583mm;
}
#qrcode > span {
    display: table-cell;
    vertical-align:middle;
    width:36.3583mm;
    height:36.3583mm;
}

#option {
    position: absolute;
    /*border:1px dashed black;*/
    left:20.3583mm;
    top:53.9657mm;
    width:27.3583mm;
    height:38.5469mm;
}
#option > p {
    display: table-cell;
    vertical-align:middle;
    text-align:center;
    height:38.5469mm;
    width:27.3583mm;
}

#firstname {
    position: absolute;
    /*border:1px dashed black;*/
    left:20.3583mm;
    top:30.8375mm;
    width:58.7166mm;
    height:7.7094mm;
    text-align:right;
}

#lastname {
    position: absolute;
    /*border:1px dashed black;*/
    left:20.3583mm;
    top:38.5469mm;
    width:58.7166mm;
    height:7.7094mm;
    text-align:right;
}

#code {
    position: absolute;
    /*border:1px dashed black;*/
    left:20.3583mm;
    top:46.2563mm;
    width:58.7166mm;
    height:7.7094mm;
    text-align:right;
}


