/* --GLOBAL-- */
body {
    background-color: #535454;
    color: #FFFFFF;
}
a {
    color: #FFFFFF;
}

a:hover {
    color: #579bd3;
}

/* --HEADER-- */
.navbar,
.navbar-default,
.navbar-default .navbar-nav .dropdown-menu{
    background-color: #535454;
    background-image: none;
    border-color: #535454;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav .dropdown-menu > li > a{
    color: #ffffff !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav .dropdown-menu > li > a:hover{
    color: #ffffff;
    background-color: #579bd3 !important;
    background-image: none;
}
.navbar-default .navbar-nav > .active,
.navbar-default .navbar-nav > .active > a{
    color: #ffffff;
    background-color: transparent;
    box-shadow: none;
    background-image: none;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #579bd3;
    background-image: none;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #579bd3;
    background-image: none;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #579bd3;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

/* --FOOTER-- */
footer {
    background-color: #535454;
    border-color: #535454;
    color: #FFFFFF;
}

.social-icons li a {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}

.social-icons li a:hover {
    background-color: #579bd3;
    border: 2px solid #579bd3;
}

/* --BULL IN CHINA SHOP-- */
.text-primary, .btn-primary .badge, .btn-link,a.list-group-item.active > .badge,.nav-pills > .active > a > .badge, p.drop-caps:first-child:first-letter, .accent-color, .basic-link, .pagination > li > a:hover,.pagination > li > span:hover,.pagination > li > a:focus,.pagination > li > span:focus, .flexslider .flex-prev:hover, .flexslider .flex-next:hover, .accordion-heading:hover .accordion-toggle, .accordion-heading:hover .accordion-toggle.inactive, .accordion-heading:hover .accordion-toggle i, .team-item-overlay a, .nav-tabs li.active > i{
	color:#579bd3;
}
a:hover{
	color:#579bd3;
}
.basic-link:hover{
	opacity:.9
}
p.drop-caps.secondary:first-child:first-letter, .accent-bg, .fa.accent-color, .btn-primary,
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.label-primary,
.progress-bar-primary,
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus,
.panel-primary > .panel-heading, .carousel-indicators .active, .flex-control-nav a:hover, .flex-control-nav a.flex-active, .nav-tabs li a:active, .nav-tabs li.active a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .main-navigation > ul > li > a:hover, .main-navigation > ul > li > a.current, .main-navigation > ul > li.highlight a:hover, .team-item-overlay a:hover, #weather, #back-to-top:hover, .plan-style1, .social-icons li a:hover{
  background-color: #579bd3;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary, .top-menu li a:hover,
img.game:hover{
  background: #579bd3;
  opacity:.9
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active,
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus,
.panel-primary,
.panel-primary > .panel-heading, .flexslider .flex-prev:hover, .flexslider .flex-next:hover, .social-icons li a:hover{
	border-color:#579bd3;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body{
	border-top-color:#579bd3;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body, .nav-tabs li a:active, .nav-tabs li.active a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	border-bottom-color:#579bd3;
}
/* Color Scheme Specific Classes */
.accent-color-secondary, .meta-data, .meta-data a, .quick-venue-info-details .ico:hover{
	color:#D05758!important;
}
.main-navigation > ul > li.highlight a, .btn.btn-primary-secondary, .label-secondary, .plan-style3{
	background:#D05758;
}


/* Colours the text of the Event logo on the splash */
.event-info{
	color: #FFFFFF;
}
/* Colours the box around the date */
.event-info .event-date{
	border: 2px solid #FFFFFF;
}

/* Colours the nav bar */
.site-header, .lantasyDark_bg{
	background:  #535454;
}
.sticky-header.tranlucent{
	background:rgba(83,84,84,.95);
}

.main-navigation > ul > li > a {
	color: #FFFFFF
}

.social-icons li a {
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
}
.page-stitle, h1, h2, h3, h4, h5, h6 {
	color: #FFFFFF;
}

body{
	color: #FFFFFF;
}

.accordion-inner, .accordion-toggle.inactive.collapsed, .accordion-toggle, .accordion-toggle.active{
	color: #FFFFFF;
}

div.accordion-group.panel, img.game {
    background:#4f4f4f;
    border: 1px solid white;
    padding: 10px 15px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 992px) {
	.main-navigation{
		background:#535454;
	}
}

/* ---- Quick Venue Icons ---- */
.qvicons a {
    color: #555;
}

/* ---- Right panel ---- */
.panel {
    background-color: #535454;
}

/* ---- Location indicator ---- */
.breadcrumb {
    background-color: #535454;
    border: 1px solid white;
    margin: 0;
    margin-bottom: 15px;
}

.breadcrumb>.active {
    color: #579bd3;
    font-weight: bolder;
}

/* ---- Left Menu ----
.tree .active > a {
    background-color: #579bd3;
}
.tree ul a:hover {
    background-color: #D05758;
    color: #000;
}
*/


/* ---- Padding around the thumbnail images in the gallery ---- */
.thumbnail {
    padding: 1px;
}

/* ---- Form formatting ---- */
.form-group > input[type="text"], .form-group > input[type="password"], .form-group > input[type="datetime"], .form-group > input[type="datetime-local"], .form-group > input[type="date"], .form-group > input[type="month"], .form-group > input[type="time"], .form-group > input[type="week"], .form-group > input[type="number"], .form-group > input[type="email"], .form-group > input[type="url"], .form-group > input[type="search"], .form-group > input[type="tel"], .form-group > input[type="color"], .form-group > select, .form-group > textarea {
    background-color: #666;
    color: #FFF
}

.form-actions {
    background-color: transparent;
    border:0;
}

/* ---- Google map location tag ----*/
.iwContent{
    color: #000;
}

/* Checkout */
.cart-form>.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #989898;
}

#checkout .checkout-form legend {
    color: #FFFFFF;
}

#checkout .checkout-form input{
    color: #333333;
}

#cart .cart-form input {
    background-color: #4C86B3;
    border-color: #4C86B3;
}

#checkout .checkout-panel li{
    color: #FFFFFF;
}

.help-block {
    color: #FFFFFF;
}


/* Events Page CSS */

td.eventHeader{
    text-align: center;
}

div.eventHeader{
    background: #467DA6;
    display: block;
    border: 1px solid white;
    padding: 10px 15px 20px;
    width: 152px;
    margin-left: auto;
    margin-right: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 4px;
}

