{% load mezzanine_tags accounts_tags %}

{% if request.user.is_authenticated %}
    <p>Logged in as: {{ request.user.username }}</p>
    <a href="{% url "userbro:user_detail" %}" class="btn btn-sm btn-default btn-account"><i class="fa fa-user"></i> Profile</a>

    <a href="{% url "logout" %}?next={{ request.path }}" class="btn btn-sm btn-danger btn-account">
        <i class="fa fa-sign-out"></i> Log out
    </a>
{% else %}
    <a href="{% url "login" %}?next={{ request.path }}" class="btn btn-primary btn-sm btn-account">
        <i class="fa fa-sign-in"></i> Log in
    </a>
    &nbsp;or&nbsp;
    <a href="{% url "signup" %}?next={{ request.path }}" class="btn btn-primary btn-sm btn-account">
        <i class="fa fa-user-plus"></i> Sign up</a>
{% endif %}
