@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:500,900,300,700,400);
@import url(http://fonts.googleapis.com/css?family=Slabo+27px);

/* General */

html, body {
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: rgba(255, 255, 255, 1);
	overflow: hidden;
}

h1 {
	font-size: 25px;
	font-family: 'Slabo 27px', serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: rgba(0, 0, 0, 1);
	margin-top: 10px;
}

h2 {
	font-size: 19px;
	font-family: 'Roboto', serif;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0px;
	letter-spacing: 0.1em;
	color: rgba(0, 0, 0, 1);
}

p {
	margin-top: 10px;
	font-size: 14px;
	color: rgb(102,102,102);
	letter-spacing: 0.04em;
	line-height: 20px;
	font-weight: 300;
}

h6 {
	margin: 0px;
	font-size: 14px;
	color: rgb(102,102,102);
	letter-spacing: 0.04em;
	line-height: 20px;
	font-weight: 300;
}

textarea:focus,
textarea.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
button:focus,
button.btn:focus,
.uneditable-input:focus {   
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.1);
  outline: 0 none;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.container > .row {
    margin-left: -15px;
    margin-right: -15px;
}

/* Preloader*/

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgb(255,255,255); 
    z-index:99; 
}

#status {
	width: 64px;
	height: 64px;
    position:absolute;
    left:50%; 
    top:50%; 
    background-repeat:no-repeat;
    background-position:center;
    margin:-32px 0 0 -32px;
}

#status .echo {
	width: 64px;
	height: 64px;
	background-color: rgb(52,73,94);
	border-radius: 100%;
	-webkit-animation: echoit 1.2s infinite ease-in-out;
	animation: echoit 1.2s infinite ease-in-out;
}

@-webkit-keyframes echoit {
	0%{
		-webkit-transform:scale(0.0)
	}

	100%{
		-webkit-transform:scale(1.0);opacity:0
	}
}

@keyframes echoit {
	0% {
		transform:scale(0.0);
		-webkit-transform:scale(0.0)
	}

	100% {
		transform:scale(1.0);
		-webkit-transform:scale(1.0);opacity:0
	}
}

/* Header */
header {
	position: relative;
	width: 100%;
	height: 40%;
}

header h1 {
	font-family: 'Slabo 27px', serif;
	font-weight: 300; 
	font-size: 52px; 
	color: rgb(255, 255, 255);
}

header h6 {
	font-family: 'Slabo 27px', serif;
	font-weight: 400;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	color: rgba(255, 255, 255, 1);
	padding-left: 0.4em;
}

header > img.logo {
	width: 260px;
	height: auto;
	position: absolute;
	top: 7%;
	left: 50%;
	margin-left: -130px;
}

header > .countdown {
	display: block;
	position: relative;
	top: 50%;
}

header > .countdown > .container > .row {
	margin-top: -55px;
}

header > a > img.mouse-scroll {
	position: absolute; 
	bottom: 10px; 
	left: 50%;
	margin-left: -30px; 
	width: 60px;
	height: 60px;
}

.header-text {
	width: 100%;
	padding-bottom: 40px;
}

.header-text h1:after {
	font-size: 16px;
	display: block;
	content: '+';
	letter-spacing: -0.05em;
	text-align: center;
	margin: 12px 0px;
}

span.mouse {
	position: absolute;
	bottom: 14px;
	left: 50%;
	width: 24px;
	height: 40px;
	background-color: transparent;
	border-radius: 11px;
	border: 1px solid rgb(255,255,255);
	margin-left: -12px;
}

span.mouse > span.wheel {
	position: absolute;
	display: block;
	width: 2px;
	height: 5px;
	border-radius: 2px;
	background-color: rgb(255,255,255);
	top: 10px;
	left: 50%;
	margin-left: -1.5px;
	-webkit-transition: all 200ms cubic-bezier(0.815, 0.005, 0.580, 1.000); 
	-moz-transition: all 200ms cubic-bezier(0.815, 0.005, 0.580, 1.000); 
	-o-transition: all 200ms cubic-bezier(0.815, 0.005, 0.580, 1.000); 
	transition: all 200ms cubic-bezier(0.815, 0.005, 0.580, 1.000);
	-webkit-transition-timing-function: cubic-bezier(0.815, 0.005, 0.580, 1.000); 
	-moz-transition-timing-function: cubic-bezier(0.815, 0.005, 0.580, 1.000); 
	-o-transition-timing-function: cubic-bezier(0.815, 0.005, 0.580, 1.000); 
	transition-timing-function: cubic-bezier(0.815, 0.005, 0.580, 1.000);
}

span.mouse:hover > span.wheel {
	-ms-transform: translate(0px,10px);
    -webkit-transform: translate(0px,10px);
    transform: translate(0px,10px);
	-webkit-transition: all 700ms cubic-bezier(0.815, 0.005, 0.580, 1.000); 
	-moz-transition: all 700ms cubic-bezier(0.815, 0.005, 0.580, 1.000); 
	-o-transition: all 700ms cubic-bezier(0.815, 0.005, 0.580, 1.000); 
	transition: all 700ms cubic-bezier(0.815, 0.005, 0.580, 1.000);
	-webkit-transition-timing-function: cubic-bezier(0.815, 0.005, 0.580, 1.000); 
	-moz-transition-timing-function: cubic-bezier(0.815, 0.005, 0.580, 1.000); 
	-o-transition-timing-function: cubic-bezier(0.815, 0.005, 0.580, 1.000); 
	transition-timing-function: cubic-bezier(0.815, 0.005, 0.580, 1.000);
}

/* Tickets Newsletter */
.newsletter {
	position: relative;
	width: 100%;
	height: auto;
}

.container-light {
	height: auto;
	padding: 70px 10%;
	border-bottom: 1px solid rgb(237,237,237);
	background-color: rgb(246,246,246);
}

@media screen and (max-width: 767px) {
	.container-light {
		padding: 50px 10%;
	}
}

.container-dark {
	padding-left: 50px;
	padding-right: 50px;
	background-color: #00a574;
}

@media screen and (max-width: 767px) {
	.container-dark {
		height: auto;
		padding: 54px 7%;
	}
}

.newsletter > .row > .col-md-6 > .bright {
	display: block;
}
.newsletter > .row > .col-md-6 > .bright h2 a {
	color: #00a574;
}

.newsletter > .row > .col-md-6 > .dark {
	display: block;
}

.newsletter > .row > .col-md-6 > .dark h1 {
	color: #fff;
}

.newsletter > .row > .col-md-6 > .dark p {
	color: #fff;
}

.newsletter > .row > .col-md-6 > .dark > form#newsletter-form > .input-group {
	display: inline-block;
}

.input-group.email-group {
	width: 80%;
}

.input-group.send-group {
	width: 19%;
}

@media screen and (max-width: 767px) {
	.input-group.email-group {
		display: block;
		width: 100%;
	}

	.input-group.send-group {
		margin-top: 8px;
		display: block;
		width: 100%;
	}
}

.newsletter > .row > .col-md-6 > .dark > form#newsletter-form > .input-group {
	vertical-align: middle;
}

.newsletter > .row > .col-md-6 > .dark > form#newsletter-form > .input-group  > input {
	font-family: 'Roboto', serif;
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 16px;
    font-size: 12px;
    line-height: 1.42857;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.newsletter .form-control::-webkit-input-placeholder { /* WebKit browsers */
	color: rgb(255, 255, 255);
	opacity: .9;
}

.newsletter .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: rgb(255, 255, 255);
	opacity: .9;
}

.newsletter .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: rgb(255, 255, 255);
	opacity: .9;
}

.newsletter .form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: rgb(255, 255, 255);
	opacity: .9;
}

.newsletter > .row > .col-md-6 > .dark > form#newsletter-form > .input-group  > button {
	font-family: 'Roboto', serif;
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 16px;
    margin-left: 6px;
    font-size: 12px;
    line-height: 1.42857;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
}

.newsletter > .row > .col-md-6 > .dark > form#newsletter-form > .input-group  > button:hover {
    color: #000;
    background-color: #fff;
}

@media screen and (max-width: 767px) {
	.newsletter > .row > .col-md-6 > .dark > form#newsletter-form > .input-group  > button {
		margin-left: 0px;
	}
}

/* Video */
.video-area {
	position: relative;
	width: 100%;
	padding-top: 40px;
	height: auto;
}

.video-area > .container > .row > div > img {
	width: 100%;
	z-index: 999;
}

.video-area > .container > .row > div > img.videothumb {
	position: absolute;
	top: 19px;
	left: 50%;
	display: block;
	width: 55%;
	margin-left: -27.5%;
	height: auto;
	z-index: -999;
}

.modal-backdrop.in {
    -webkit-opacity: 0.95;
    -moz-opacity: 0.95;
    opacity: 0.95;
    background-color: rgb(34,34,34);
}

.pr-lightbox .modal-content {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    background-color: transparent;
}

.pr-lightbox .modal-header {
    border: 0;
    padding-left: 0;
    padding-right: 0;
}

.pr-lightbox .modal-header .close {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
    color: rgb(255,255,255);
    text-shadow: none;
    font-weight: 100;
    margin-top: 5px;
}

.pr-lightbox .modal-header .close:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.pr-lightbox .modal-header h4.modal-title {
    font-weight: 100;
    color: rgb(255,255,255);
    padding: 0;
}

.pr-lightbox .modal-body {
    padding: 0;
}

.pr-lightbox .modal-footer {
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9;
    border: 0;
    color: rgb(255,255,255);
    font-weight: 100;
    padding: 0;
}

.pr-lightbox-nav-overlay a {
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9;
    text-shadow: none;
}

@media screen and (max-width: 320px) {
	.video-area > .container > .row > div > img {
		width: 240px;
	}

	.video-area > .container > .row > div > img.videothumb {
		position: absolute;
		top: 6px;
		left: 50%;
		display: block;
		width: 138px;
		margin-left: -69px;
		height: auto;
		z-index: -999;
	}
}

@media screen and (min-width: 321px) and (max-width: 479px) {
	.video-area > .container > .row > div > img {
		width: 260px;
	}

	.video-area > .container > .row > div > img.videothumb {
		position: absolute;
		top: 7px;
		left: 50%;
		display: block;
		width: 146px;
		margin-left: -72px;
		height: auto;
		z-index: -999;
	}
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	.video-area > .container > .row > div > img {
		width: 420px;
	}

	.video-area > .container > .row > div > img.videothumb {
		position: absolute;
		top: 10px;
		left: 50%;
		display: block;
		width: 240px;
		margin-left: -120px;
		height: auto;
		z-index: -999;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.video-area > .container > .row > div > img {
		width: 596px;
	}

	.video-area > .container > .row > div > img.videothumb {
		position: absolute;
		top: 14px;
		left: 50%;
		display: block;
		width: 340px;
		margin-left: -170px;
		height: auto;
		z-index: -999;
	}
}

@media screen and (min-width: 1200px) {
	.video-area > .container > .row > div > img {
		width: 730px;
	}

	.video-area > .container > .row > div > img.videothumb {
		position: absolute;
		top: 19px;
		left: 50%;
		display: block;
		width: 412px;
		margin-left: -206px;
		height: auto;
		z-index: -999;
	}
}

.video-area > .container > .row > div > a > i#videoplaybtn {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 36px;
	height: 36px;
	font-size: 36px;
	margin-left: -10px;
	margin-top: -14px;
	color: rgb(255,255,255);
	opacity: .9;
}

.video-area > .container > .row > div > a > i#videoplaybtn {
	cursor: pointer;
}

.modal-backdrop.in {
    -webkit-opacity: 0.95;
    -moz-opacity: 0.95;
    opacity: 0.95;
    background-color: rgb(34,34,34);
}

.pr-lightbox .modal-content {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    background-color: transparent;
}

.pr-lightbox .modal-header {
    border: 0;
    padding-left: 0;
    padding-right: 0;
}

.pr-lightbox .modal-header .close {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
    color: rgb(255,255,255);
    text-shadow: none;
    font-weight: 100;
    margin-top: 5px;
}

.pr-lightbox .modal-header .close:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.pr-lightbox .modal-header h4.modal-title {
    font-weight: 100;
    color: rgb(255,255,255);
    padding: 0;
}

.pr-lightbox .modal-body {
    padding: 0;
}

.pr-lightbox .modal-footer {
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9;
    border: 0;
    color: rgb(255,255,255);
    font-weight: 100;
    padding: 0;
}

.pr-lightbox-nav-overlay a {
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9;
    text-shadow: none;
}

/* contact-section */

.contact-section {
	position: relative;
	width: 100%;
	height: auto;
	padding-top: 40px;
	padding-bottom: 24px;
	border-top: 1px solid rgb(237,237,237);
	background-color: rgb(246,246,246);
	z-index: 999;
}

.contact-section > div > div > form > div > div > input {
	font-family: 'Slabo 27px', serif;
    display: block;
    width: 100%;
    padding: 6px 16px;
    font-size: 12px;
    background-color: rgb(255,255,255);
    background-image: none;
    border: 1px solid rgb(221,221,221);
    border-radius: 0px;
    box-shadow: none;
}

@media screen and (max-width: 480px) {
	.contact-section > div > div > form > div > div > input#name {
		margin-bottom: 5px;
	}
}

.contact-section > div > div > form > div > div > textarea {
	font-family: 'Slabo 27px', serif;
    display: block;
    width: 100%;
    padding: 16px 16px;
    font-size: 12px;
    background-color: rgb(255,255,255);
    background-image: none;
    border: 1px solid rgb(221,221,221);
    border-radius: 0px;
    box-shadow: none;
}

.contact-section .form-control::-webkit-input-placeholder { /* WebKit browsers */
	color: rgb(102,102,102);
	opacity: 1;
}

.contact-section .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: rgb(102,102,102);
	opacity: 1;
}

.contact-section .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: rgb(102,102,102);
	opacity: 1;
}

.contact-section .form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: rgb(102,102,102);
	opacity: 1;
}

.btn-default {
	border-radius: 0px;
	border: 1px solid rgb(221,221,221);
	background-color: rgb(255,255,255);
	font-family: 'Slabo 27px', serif;
	font-size: 12px;
	padding: 14px 16px;
	width: auto;
	color: rgb(102,102,102);
}

.btn-default:hover {
	border: 1px solid rgb(221,221,221);
	background-color: rgb(255,255,255);
}

.btn-default[disabled] {
	opacity: 1;
	background-color: rgb(223,223,223);
	color: rgb(83,83,83);
	pointer-events: none;
}

.btn-default[disabled]:hover {
	background-color: rgb(223,223,223);
	color: rgb(83,83,83);
	cursor: not-allowed;
}

.inputrow1, .inputrow2, .inputrow3 {
	position: relative;
	margin-bottom: 20px;
}

#form-message-container {
	max-width: 100%;
	height: auto;
}

#form-messages {
	min-width: 100%;
	height: auto;
	font-size: 14px;
	line-height: 14px;
	padding: 16px;
}

#form-messages.success {
	color: rgb(70,194,43);
	background-color: rgb(255,255,255);
	border: 1px solid rgb(221,221,221);
	text-align: center;
}

#form-messages.error {
	color: rgb(194,43,43);
	background-color: rgb(255,255,255);
	border: 1px solid rgb(221,221,221);
	text-align: center;
}

/* Footer */

footer {
	position: relative;
	width: 100%;
	height: 70px;
}

.green {
	background-color: #00a574;
}

.black {
	background-color: #000;
}

.blue {
	background-color: #2c4a64;
}
footer p {
	color: rgb(204,204,204);
	font-size: 12px;
	line-height: 12px;
	margin: 0px;
	letter-spacing: normal;
}

footer > div > div > div > div > .copyright {
	margin-top: 30px;
}

footer > div > div > div > div > .social-links {
	margin-top: 29px;
}

footer > div > div > div > div > .social-links > a > i.fa {
	color: rgb(204,204,204);
	margin: 0px 10px;
	padding: 0px;
	font-size: 18px;
}

footer > div > div > div > div > .social-links > a > i.fa:hover {
	color: rgb(255,255,255);
}

@media screen and (max-width: 767px) {
	footer {
		height: auto;
	}

	footer > div > div > div > div > .copyright {
		margin-bottom: 10px;
	}

	footer > div > div > div > div > .social-links {
		margin-top: 5px;
		margin-bottom: 20px;
	}

	footer > div > div > div > div > .social-links > a > i.fa {
		margin: 0px 8px;
	}
}

/* 8. Map */

#map {
  height: 500px;
}