Cartridge==0.10.0
Django==1.8.3
Fabric==1.10.2
Mezzanine==4.0.1
Pillow==2.9.0
PyPDF2==1.25.1
argparse==1.2.1
beautifulsoup4==4.4.0
bleach==1.4.1
-e git://github.com/BCGamer/cartridge-stripe.git@8fa5db4ae53cd9e6bd85fdbf486203f1f4cbf00a#egg=cartridge_stripe-master
chardet==2.3.0
coverage==3.7.1
django-appconf==1.0.1
django-compressor==1.5
django-contrib-comments==1.6.1
django-debug-toolbar==1.3.2
django-extensions==1.5.5
django-forms-bootstrap==3.0.1
django-merchant==0.2
django-zebra==0.4.5
ecdsa==0.13
filebrowser-safe==0.4.0
future==0.15.0
grappelli-safe==0.4.1
html5lib==0.999999
oauthlib==1.0.3
paramiko==1.15.2
pytz==2015.4
reportlab==3.2.0
requests==2.7.0
requests-oauthlib==0.5.0
six==1.9.0
sqlparse==0.1.16
stripe==1.25.0
tzlocal==1.2
wsgiref==0.1.2
xhtml2pdf==0.0.6
